# 忽略所有内容
*.*
*Makefile
*Makefile2
# 取反操作 !

!*.cpp
# !*.c
# !*.txt
!.gitignore


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.cmake

# html
*.xml
*.iml

